.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-white;
}

.mainContent {
  flex: 1;
  padding: $spacing-xl 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
